.Rooms {
    width: 250px;
    height: 100%;
    background-color: #ccc;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dhurjati';
}

.RoomsDiv{
    width: 100%;
    height: 80%;
    overflow-y: auto;
    /* background-color: purple; */
    

}
.room {
    border: none;
    outline: 1px solid lightgray;
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 10px 5px;
    direction: rtl;
    height: 50px;
    margin-bottom: 4px;
}
.room:hover {
    background-color: rgb(168, 168, 168);
    cursor: pointer;
}
.AddBtnDiv {
    height: 8%;
    /* position: absolute; */
    width: 95%;
    /* top: 5px;
    left: 5px; */
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */
    border-radius: 10px;
}

.LogoutBtnDiv {
    height: 8%;
    /* position: absolute; */
    width: 95%;
    /* bottom: 5px;
    left: 5px; */
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0; */
    border-radius: 10px;
}


.LogoutBtnDiv .not_hover {
    display: none;
}

.LogoutBtnDiv:hover .hover {
    display: none;
}

.LogoutBtnDiv:hover .not_hover {
    display: block;
}

.AddBtnDiv .not_hover {
    display: none;
}

.AddBtnDiv:hover .hover {
    display: none;
}

.AddBtnDiv:hover .not_hover {
    display: block;
}



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #717171;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
  }