.Login_Container {
    font-family: Arial, Helvetica, sans-serif;
}

.Login_Container .Login {
    display: flex;
    width: 60vw;
    margin: auto;
    height: 80vh;
}

.Login_Container .Login>div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 40px 40px 0;
    box-shadow: -9px -1px 11px -6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -9px -1px 11px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -9px -1px 11px -6px rgba(0, 0, 0, 0.6);

}

.Login_ContainerLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Login_ContainerLogo img {
    /* top: 10px; */
    width: 400px;
    /* position: absolute; */
}

.Login_Container .Login>div form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.Login_Container .Login>div form input {
    border: none;
    outline: 1px solid #b9b9b9;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 30px;
    width: 80%;
    font-size: 16px;
}

.Login_Container .Login>div form .logo_login_form {
    width: 85%;
}

.Login_Container .Login>div form .logo_login_form img {
    width: 250px;
}

.Login_Container .Login>div form .signIn_text_form {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 10px;
}

.Login_Container .Login>div form button {
    width: 80%;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Login_Container .Login>div form button:hover {
    /* transition: 0.2s;
    background-color: #121212;
    box-shadow: 0px 5px 7px -1px rgba(102, 102, 102, 0.75);
    -webkit-box-shadow: 0px 5px 7px -1px rgba(102, 102, 102, 0.75);
    -moz-box-shadow: 0px 5px 7px -1px rgba(102, 102, 102, 0.75); */

    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);

}

.Login_Container .Login>div form .link_to_register_in_login_form {
    margin-top: 40px;
    text-decoration: none;
    color: #1c1c1c;
}

.Login_Container .Login>div form .link_to_register_in_login_form:hover {
    text-decoration: underline;
}

.Login_Container .Login>div form .terms_login_form {
    margin-top: 60px;
    color: gray;
    font-size: 12px;
}

.Login_Container .Login .vacation_image_login {
    background-color: transparent;
    box-shadow: none;
}

.Login_Container .Login .vacation_image_login img {
    border-radius: 40px 0 0 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form_container h3 {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
    .Login_Container .Login .vacation_image_login {
        display: none;
    }

    .Login_Container .Login>div {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
    }
}